<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Account</title>

	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<link href="css/main.css" rel="stylesheet">
	<link href="css/flexbox.css" rel="stylesheet">

</head>

<body>
	<header>

		<div class="header-container">
			<div class="header-box">

				<!-- LOGO PLACEHOLDER -->
				<div class="logo-header">
					<h1 class="logo">Logo</h1>
				</div>

				<!-- NAV BUTTONS -->
				<div class="main-nav-header">
					<a class="main-nav" href="#">Tea</a>
					<a class="main-nav" href="#">Teasets</a>
					<a class="main-nav" href="#">Sale</a>

					<a class="main-nav-2" href="#">Cart</a>
					<a class="main-nav-2" href="#">Sign In</a>
					<a class="main-nav-2" href="#">About</a>
				</div>
			</div>
		</div>
	</header>

	<h2 class="create-an-account">Create an Account</h2>

	<p class="fill-in">Please fill in this form to create an account.</p>

	<!-- Referenced: https://www.w3schools.com/howto/howto_css_login_form.asp -->
	<form>
		<div class="create-account-container">

			
			<label for="Name"><b>Name</b></label>
			<input type="text" placeholder="Enter Name" name="Name" required>

			<label for="Lastname"><b>Lastname</b></label>
			<input type="text" placeholder="Enter Lastname" name="Lastname" required>


			<label for="Email"><b>Email</b></label>
			
			<input type="text" placeholder="Enter Email" name="Email" required>

			<label for="password"><b>Password</b></label>
			
			<input type="password" placeholder="Enter Password" name="psw" required>

			<label for="password"><b>Confirm Password</b></label>
			
			<input type="password" placeholder="Enter Password" name="psw" required>

			<p>By creating an account you agree to our  <a class ="terms-conditions" href="#"">Terms & Condition</a></p>

			<label>
				<input type="checkbox" checked="checked" name="I agree with the terms and conditions"> I have read and agree to the terms and conditions
			</label>

			<div class="create-account-button">

				<button class="create-button" ">Create an Account</button> </br>

				<a class="login-button" href="sign-in.html">Login</a>

			</div>
			
		</div>


	</form>

</body>

</html













