<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>

	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<link href="css/main.css" rel="stylesheet">
	<link href="css/flexbox.css" rel="stylesheet">

</head>

<body>

	<header>
		
		<div class="header-container">
			<div class="header-box"> 

				<!-- LOGO PLACEHOLDER -->
				<div class="logo-header">
					<h1 class="logo">Logo</h1>
				</div>

				<!-- NAV BUTTONS -->
				<div class="main-nav-header">
					<a class="main-nav" href="#">Tea</a>
					<a class="main-nav" href="#">Teasets</a>
					<a class="main-nav" href="#">Sale</a>
			
					<a class="main-nav-2" href="#">Cart</a>
					<a class="main-nav-2" href="#">Sign In</a>
					<a class="main-nav-2" href="#">About</a>
				</div>
			</div>
		</header>

		<div class="sale-promotion-container">
			<div class="sale-promotion-box">

			</div>
		</div>

		<div class="container-3">
			<div class="container-3-boxes"> 
			</div>
			<div class="container-3-boxes">
			</div>
			<div class="container-3-boxes">
			</div>
		</div>

		<div class="container-4">
			<div class="container-4-box"> Footer</div>
		</div>



	</body>

	</html>