<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Listing</title>

	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<link href="css/main.css" rel="stylesheet">
	<link href="css/flexbox.css" rel="stylesheet">

</head>

<body>

	<header>

		<div class="header-container">
			<div class="header-box">

				<!-- LOGO PLACEHOLDER -->
				<div class="logo-header">
					<h1 class="logo">Logo</h1>
				</div>

				<!-- NAV BUTTONS -->
				<div class="main-nav-header">
					<a class="main-nav" href="product-listing.html">Tea</a>
					<a class="main-nav" href="product-listing.html">Teasets</a>
					<a class="main-nav" href="product-listing.html">Sale</a>

					<a class="main-nav-2" href="my-cart.html">Cart</a>
					<a class="main-nav-2" href="sign-in.html">Sign In</a>
					<a class="main-nav-2" href="about.html">About</a>
				</div>
			</div>
		</header>

		<h2 class="page-heading">My Cart</h2>





		</body>

		</html>
