<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>

	<link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

	<link href="css/main.css" rel="stylesheet">
	<link href="css/flexbox.css" rel="stylesheet">

</head>

<body>
	<header>

		<div class="header-container">
			<div class="header-box">

				<!-- LOGO PLACEHOLDER -->
				<div class="logo-header">
					<h1 class="logo">Logo</h1>
				</div>

				<!-- NAV BUTTONS -->
				<div class="main-nav-header">
					<a class="main-nav" href="#">Tea</a>
					<a class="main-nav" href="#">Teasets</a>
					<a class="main-nav" href="#">Sale</a>

					<a class="main-nav-2" href="#">Cart</a>
					<a class="main-nav-2" href="#">Sign In</a>
					<a class="main-nav-2" href="#">About</a>
				</div>
			</div>
		</div>
	</header>

	<h2 class="sign-in">Sign in</h2>

	<!-- Referenced: https://www.w3schools.com/howto/howto_css_login_form.asp -->
	<form>

		<div class="sign-in-container">
			<label for="Email"><b>Email</b></label>
			
			<input type="text" placeholder="Enter Email" name="Email" required>

			<label for="psw"><b>Password</b></label>
			
			<input type="password" placeholder="Enter Password" name="psw" required>

			<a class="password" href="#">Forgot password?</a>

			<label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			</label>

			<div class="submit-button">

				<button class="login" ">Login</button> </br>

				<a class="create-account" href="#">Create Account</a>

			</div>



			
		</div>
	</form>

</body>

</html













