
/*WEBSITE GRID STRUCTURE--------------*/


*, *::after, *::before {
	box-sizing: border-box;
}

/*
  Referenced: https://www.youtube.com/watch?v=JJSoEo8JSnc
  Used this tutorial to learn out how to create flexbox website grid
  */


  /*Header ----*/
  .header-container div, .sale-promotion-container div {
  	margin-bottom: 1.5em;
 

  }

  .header-container {
  	display:flex;
  }

  .header-box {
  	flex:1;
  	height:10em;
  }


/*HOMEPAGE --- */
.sale-promotion-container {
	display:flex;
	justify-content: center;
}



.sale-heading-image {
  font-weight: 700;
  font-size:5em;
  position: absolute;
}


/*Product Listing ---*/
.product-list, .product-heading{
	display:flex;
}

.product-list{
	flex-direction: row;
	justify-content: center;
}
.product-cardholder{
	flex-direction: column;
}

/*lab 5*/
.product-description-holder{
	position: relative;
}

.add-to-cart-icon {
	position: absolute;
	right: 0;
	top:1.5em;

}
