
/*WEBSITE GRID STRUCTURE--------------*/


*, *::after, *::before {
	box-sizing: border-box;
}

/*
  Referenced: https://www.youtube.com/watch?v=JJSoEo8JSnc
  Used this tutorial to learn out how to create flexbox website grid
  */


  /*Header ----*/
  .header-container div, .sale-promotion-container div {
  	margin-bottom: 1.5em;


  }

  .header-container {
  	display:flex;
  }

  .header-box {
  	flex:1;
  	height:10em;
  }


/*HOMEPAGE --- */
.sale-promotion-container {
	display:flex;
	justify-content: center;

  position: relative;
  text-align: center;
  color: black;
}


.sale-promotion-box {
  width:80%;
  height: 30em;


  background-color:lightgrey;
}


/*Reference: https://www.w3schools.com/howto/howto_css_image_text.asp
  How to center text over image
*/
.shop-our-sale {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2.5em;
}



/*Product Listing ---*/
.product-list, .product-heading{
	display:flex;
}

.product-list{
	flex-direction: row;
	justify-content: center;
}
.product-cardholder{
	flex-direction: column;
}

/*lab 5*/
.product-description-holder{
	position: relative;
}

.add-to-cart-icon {
	position: absolute;
	right: 0;
	top:1.5em;

}
