
/*WEBSITE GRID STRUCTURE--------------*/


*, *::after, *::before {
	box-sizing: border-box;
}

/*
Referenced: https://www.youtube.com/watch?v=JJSoEo8JSnc
Used this tutorial to learn out how to create flexbox website grid
*/


/*HEADER -----------*/
.header-container div {
	margin:0em 0em 1.5em 0em;
}

.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
	display: flex;
	width:33.333%;
	justify-content: flex-start;
}
.logo-area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.utility-nav{
  display: flex;
	width: 33.333%;
  justify-content: flex-end;
}


/*-------------END OF HEADER*/


/* HOMEPAGE ---------- */

.sale-promotion-container div {
	/*margin-bottom: 1.5em;*/
	margin:0em 0em 1.5em 0em;
}

.sale-promotion-container {
	display:flex;
	justify-content: center;
}

.sale-promotion-box {
	background-image: url(../img/Tea5.jpg); /* https://www.youtube.com/watch?v=33IinMVJf-M*/
	background-size:cover;
	width:100%;
	height:35em;

	position: relative;
	text-align: center;
	color: black;
	position:relative;

}

/*Reference: https://www.w3schools.com/howto/howto_css_image_text.asp
How to center text over image
*/

.shop-our-sale {
	position:absolute;
	top: 8em;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 600;
	font-size: 2.5em;
}

.category-text-container div {

	margin:0em 0em 1.5em 0em;
}

.category-box, .category-container{
	display:flex;
	justify-content: center;

}

.category-box {

  border: 0.05em solid #cecece;
  border-right:none;
  border-left:none;
	height:10em;

}

.category-container {
  font-weight:700;
  font-size: 1em;
  padding-top:2.5em;

}

.image-card-container div {

	margin:0em 0em 3em 0em;
}

.image-card-container {
	display:flex;
	flex-flow: wrap;
	justify-content: space-between;
	position:relative;
}

.image-card-box-1 {
	background-image: url(../img/tea1.jpg)   ;
	background-size:cover;

	display:table;
	width:48.5%;
	height:30em;
}

.image-card-box-2 {
	background-image: url(../img/tea4.jpg);
	background-size:cover;
	display:table;
	width:48.5%;
	height:30em;

}

/*--------------END OF HOMEPAGE*/


/*FOOTER ---------------*/

.footer-container div {
	margin-top:1em;
	margin-bottom: 1em;
}

.footer-container {
	display: flex;
}

.footer-box {

	flex:1;
	height:4em;

	/*line*/
	border-top: 1px solid #008080;
}

.footer-text {
	flex:1;

}

/*-----------END OF FOOTER */


/*PRODUCT LISTING ---*/

.product-list {
	display:flex;
	flex-wrap: wrap;
	justify-content: left;

}
.product-cardholder {
	/* flex-direction: column; */
	width: 31.333%;
	margin: 0 1% 1.2em 1%;/*https://developer.mozilla.org/en-US/docs/Web/CSS/margin*/
}

.product-image {
	display:flex;
	justify-content: center;
	align-items: center;
}
.product-price{
	display: flex;
	justify-content: space-between;
}

.add-to-cart-icon {
	top:1.5em;
}

.price-icon{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.prices-duo {
	display: flex;
	justify-content: flex-start;
}
.sale-price {
  color: red;
	padding-right: 0.3em;
}


/* REVIEWUNDER PRODUCTS ------------ */

.reviews {
	margin-top:2.5em;
}

/* .review-container div {
	border: 1px solid lightgrey;
	border-left:none;
	border-right:none;
	border-bottom:none;
	margin-top:0em;


} */

.review-container {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}

.review-box-username {
	display:flex;
	/* display: block; */
	flex-direction: column;
	width:14%;
	justify-content: flex-start;

}

.review-box-comment {
	display:flex;
	flex-direction: column;
	width:84%;

}
.stars div {
	display: flex;
	flex-direction: row;
}
.review-username {
	text-align:left;
	font-size:1.2em;
	margin-top:1em;
	color:#008080;
}

.review-location {
	text-align:left;
	font-size:0.8em;
	margin-top:1.5em;
}
.review-comments-title {
	margin-top:1em;
	text-align:left;
}

.review-comments {
	font-weight:300;
	font-size:1em;
	width:100%;
	margin:0;
}

.write-review {
	display:flex;
	justify-content: flex-end;
	margin-bottom:0.2em;
}

.same-line {
  display: flex;
	flex-direction: row;
}

.line {
  margin-bottom: 1em 0;
  padding: 0.5em 0;
  border-bottom: 1px dotted #333; /*https://www.w3schools.com/cssref/pr_border-top.asp*/
}


/* INDIVIDUAL PRODUCT PAGE */
/*
Referenced: Week 3 Lecture Code
Used lecture code for grid structure
*/




/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container*/
.box{
	display: flex;
	align-items: center;
	justify-content: center;
}

/*YOUR CART PAGE--------------*/

.basket{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 34%;
}
.basket-description{
	display: flex;
	width:45%;
	justify-content: flex-start;
}
.cart-text{
  padding:1em;
  width:100%;
}
.order-summary{
  background-color: rgb(240, 240, 240);
	width: 17em;
}
.order-textinside {
	padding: 1em;
}
.checkout{
	margin-top: 1.9em;
  padding: 0.6em 0.75em;
  width: 100%;
  color: white;
  background-color: #008080;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border: 2px solid #008080;
}
.subsum {
  display: flex;
  justify-content: space-between;
}



/*MEDIA QUERIES

/*https://stackoverflow.com/questions/40600728/trying-to-align-text-under-an-image-using-flexbox*/
@media(max-width: 1260px) {
	/* body{
		background-color: red;
	} */
}

@media (max-width: 1125px) {
	.product-cardholder {
		width: 48%;
	}
	.product-buttons{
		bottom:6rem;
	}
	.basket-description {
		width:auto;
	}
	body{
		background-color: blue;
	}
}

@media (max-width: 990px){

	.box{
		flex-direction: column;
	}

	.box-item-text, .box-item-image, .basket-description{
		width:100%;
		padding:0;
	}

	.basket-description {
		flex-direction: column;
	}
	.order-summary{
		width:30%;
	}
	.cart-text{
		margin:0;
	}

	.image-card-container{
		flex-direction:column;
	}

	.image-card-box-1, .image-card-box-2 {
		width:100%;

	}
	body{
		background-color: green;
	}
}


@media (max-width: 767px) {
	body{
		background-color: yellow;
	}
	.product-cardholder {
		width: 100%;
	}
	.product-menu{
		display: block;
	}
	.nav-content{
		position: relative;
    padding-bottom: 3rem;
    justify-content: center;
	}

	.main-nav{
		position: absolute;
    bottom: 0em;
    display: flex;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
	}
	.main-nav, .nav-content{
		display:flex;
		justify-content: space-between;
	}
	a.main-nav-option{
		margin-right: 0;
	}
	.basket {
		justify-content: flex-start;
	}
	.basket-description {
		width:35%;
		margin-left: 1em;
	}
	.order-summary{
		width: 100%;
	}
	.checkout {
		margin:0;
	}

	.review-box-comment {
		width:100%;

	}

	.review-box-username {
		display: flex;
		width:100%;
	}
	.review-username {
		margin-bottom: 0;
	}

}


@media (max-width: 479px){
	.box-item-text{
		width: 100%;
		order: 2;
		flex:0 0 100%;
	}
	.basket{
		display: block;
	}
	.basket-description {
		width:100%;
		margin: 1em 0;
	}
	.basket-item {
		width:100%;
	}
	.cart-text{
		padding: 0.5em 0;
		text-align: center;
	}
	.user-icon {
		margin-left: 1em;
	}
	.order-summary {
		width: 100%;
	}
	body{
		background-color: orange;
	}
}
